
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr style="vertical-align: top">
        <td>
            <select id="chatRoomList" size="2" style="width: 150px; height: 206px" class="form-control"></select>
        </td>
        <td>
            <textarea id="chatWindow" style="width: 400px; height: 200px" class="form-control"></textarea>
            <div>
                <label>Message</label>
                <input id="msg" type="text" class="form-control" />
                <button id="btnsend" type="button" class="btn btn-primary">Send</button>
            </div>
            <div>
                <label>Start new chat room</label>
                <input id="chatroom" type="text" class="form-control" />
                <button id="btncreate" type="button" class="btn btn-primary">Create</button>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

    function addChatRoomToList(chatRoom) {
        $('#chatRoomList').append($('<option value="' + chatRoom + '">' + chatRoom + '</option>'));
    }

    function addMessageToChatWindow(message) {
        $('#chatWindow').val($('#chatWindow').val() + message + "\n");
    }

    function clearChatRoomForRoomChange(chatRoom) {
        $('#chatWindow').val('');
        addMessageToChatWindow('Welcome to ' + chatRoom);
    }

    function init() {
        var chat = $.connection.myHub;

        chat.client.addChatRoom = function (chatRoom) {
            var currentChatRoom = chat.state.currentChatRoom;
            addChatRoomToList(chatRoom);
            if (chatRoom == currentChatRoom) {
                $('#chatRoomList').val(currentChatRoom);
                addMessageToChatWindow('Welcome to ' + chatRoom);
            }
        }

        chat.client.addMessage = function (room, message) {
            if (room === chat.state.currentChatRoom) {
                addMessageToChatWindow(message);
            }
        }

        $.connection.hub.start().done(function () {
            $('#chatWindow').val('Connected\n');
            chat.state.currentChatRoom = 'Lobby';
            chat.server.join('Lobby');

            $('#btnsend').click(function () {
                chat.server.send($('#msg').val());
                $('#msg').val('');
            });

            $('#btncreate').click(function () {
                chat.server.createChatRoom($('#chatroom').val());
                $('#chatroom').val('');
            });

            $('#chatRoomList').change(function () {
                var currentChatRoom = $('#chatRoomList option:selected').val();
                chat.state.currentChatRoom = currentChatRoom;
                chat.server.join(currentChatRoom);
                clearChatRoomForRoomChange(currentChatRoom);
            });
        });
    }

    $(init);
</script>
